@import '_color.scss';

.text {
    &.playing {
        color: $playing;
    }
    &.covered {
        color: $covered;
    }
    &.done {
        color: $done;
    }
    &.extra-time {
        color: $extra-time;
    }
    &.featured {
        color: white;
        background: $featured;
    }
}

.block {
    &.playing {
        background: $playing;
        color: white;
    }
    &.covered {
        background: $covered;
        color: white;
    }
    &.done {
        background: $done;
        color: white;
    }
    &.extra-time {
        background: $extra-time;
        color: white;
    }
    &.featured {
        background: $featured;
        color: white;
    }
}