md-toolbar.header {
    height: 60px;
    display: flex;
    .header-content {
        flex: 1;
        display: flex;
        justify-content: center;
    }
    position: fixed;
    z-index: 10;
    .connection-status {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: red;
        &.connected {
            background: lightgreen;
        }
    }
}

.content-with-header {
    padding-top: 70px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}