<div class="header">
    <div class="title">{{(zone$ | async)?.$key}}</div>
    <md-slide-toggle
          *ngIf="!(outstandings$ | async)?.$value"
          color="primary"
          [checked]="filter$ | async"
          (change)="toggleDisplayOnlyPlaying($event.checked)">
          <span> Display only playing</span>
      </md-slide-toggle>
</div>
<div class="tables">
    <div class="table block" *ngFor="let table of tables$ | async" [ngClass]="table.status" [class.has-time]="table.time" (click)="onTableClick(table)">
        <div class="number">{{table.$key}}</div>
        <div class="time" *ngIf="table.time">{{table.time}}min</div>
    </div>
</div>

<button *ngIf="!(zone$ | async)?.needHelp" md-fab color="primary" class="call-help" (click)="callHelp(true)"><md-icon>&#xE91F;</md-icon></button>
<button *ngIf="(zone$ | async)?.needHelp" md-fab color="warn" class="call-help" (click)="callHelp(false)"><md-icon>&#xE14C;</md-icon></button>