<div class="header">
    <div class="title">{{(zone$ | async)?.$key}}</div>
</div>
<div class="tables">
    <div class="table" *ngFor="let table of tables$ | async" [ngClass]="table.status" (click)="onTableClick(table)">
        <div class="number">{{table.$key}}</div>
        <div class="time" *ngIf="table.time">{{table.time}}min</div>
    </div>
</div>

<button *ngIf="!(zone$ | async)?.needHelp" md-fab color="primary" class="call-help" (click)="callHelp(true)"><md-icon>&#xE91F;</md-icon></button>
<button *ngIf="(zone$ | async)?.needHelp" md-fab color="warn" class="call-help" (click)="callHelp(false)"><md-icon>&#xE14C;</md-icon></button>