:host {
    display: block;
}

.header {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    a {
        flex: 1;
        text-align: right;
    }
}

.title {
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
}

.tables {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.table {
    border: 1px solid black;
    padding: 10px;
    width: 50px;
    cursor: pointer;
    &.ok {
        background: green;
    }
    &.not-finished {
        background: yellow;
    }
    &.need-info {
        background: red;
    }
}