<div class="header">
    <div class="title">{{(zone$ | async)?.$key}}</div>
    <div class="actions" *ngIf="!(outstandings$ | async)?.$value">
        <md-slide-toggle
          color="primary"
          [checked]="filter$ | async"
          (change)="toggleDisplayOnlyPlaying($event.checked)">
          <span>Display only playing</span>
        </md-slide-toggle>
    </div>
</div>
<div class="tables" [class.hide-button]="(tables$ | async)?.length > 2">
    <div class="table block" *ngFor="let table of tables$ | async" [ngClass]="[table.status, table.doneTime | warnAgo]" [class.has-time]="table.time" (click)="onTableClick(table)">
        <div class="number">{{table.$key}}</div>
        <div class="time" *ngIf="table.time">{{table.time}}min</div>
        <div class="result">{{table.result | result }}</div>
        <div class="actions">
            <button md-raised-button color="primary" (click)="addResult($event, table)">Add result</button>
        </div>
    </div>
</div>

<button *ngIf="!(zone$ | async)?.needHelp" md-fab color="primary" class="call-help" (click)="callHelp(true)"><md-icon>&#xE91F;</md-icon></button>
<button *ngIf="(zone$ | async)?.needHelp" md-fab color="warn" class="call-help" (click)="callHelp(false)"><md-icon>&#xE14C;</md-icon></button>