.content {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 210px;
    .actions {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
}

.header {
    position: fixed;
    margin-top: -10px;
    height: 180px;
    background: #CCCCE5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    left: 0; right: 0;
    z-index: 10;
}

zone-info {
    margin: 10px;
    cursor: pointer;
    min-width: 150px;
    height: 100px;
}

.confirmation, .extra-timed {
    .actions {
        display: flex;
        justify-content: flex-end;
        button {
            margin-left: 5px;
        }
    }
}

.extra-timed {
    ul {
        padding-right: 15px;
    }
    .extra-timed-table {
        font-weight: bold;
    }
}