<h3>{{title}}</h3>
<div md-dialog-content>
    <div class="warning">{{warning}}</div>
    <form #form="ngForm">
        <md-checkbox
            color="primary"
            [(ngModel)]="data.replaceExisting" name="parsing">Replace existing</md-checkbox>
        <md-checkbox
            color="primary"
            [(ngModel)]="data.useWalterParsing" name="parsing">Copy from Walter</md-checkbox>
        <p>If you use this option, please copy also the header of the table</p>
        <textarea required type="text" [(ngModel)]="data.tables" name="tables"></textarea>
    </form>
</div>
<div class="actions" md-dialog-actions>
    <button md-raised-button color="primary" md-dialog-close [md-dialog-close]="data" [disabled]="!form.form.valid">Add</button>
</div>