<div class="column1">
    <div class="column2-header">
        <button (click)="openExtraTimed()" mat-raised-button color="warn">Show extra time</button>
        <button mat-raised-button color="primary" class="menu-button" [matMenuTriggerFor]="actions">Actions</button>
        <mat-menu #actions="matMenu">
            <button (click)="openClock()" mat-menu-item>Clock</button>
            <button (click)="setFeatured()" mat-menu-item>Set featured</button>
            <button (click)="openRemainingTables()" mat-menu-item>See remaining</button>
            <button (click)="addOutstandings()" mat-menu-item>Add outstanding</button>
            <button (click)="endRound()" mat-menu-item>Start with new round</button>
            <button (click)="addTime()" mat-menu-item>Add time</button>
            <button (click)="checkOutstandings()" *ngIf="(isOnOutstandingsStep$ | async)" mat-menu-item>Check several tables</button>
            <button (click)="openSendMessageToAll()" mat-menu-item>Send message to all</button>
        </mat-menu>
    </div>
    <loader [isLoading]="isLoading"></loader>
    <zone-info *ngFor="let zone of zones$ | async;trackBy:trackByFn" class="zone" (onView)="$event.stopPropagation(); goToZone(zone.key)"
        (click)="displayZone(zone.key)" [zone]="zone">
    </zone-info>
</div>
<div class="column2">
    <ng-template [ngIf]="isOnOutstandingsStep$ | async">
        <mat-form-field>
            <input matInput type="number" placeholder="Filter tables" [(ngModel)]="filter" />
            <button mat-button *ngIf="filter" matSuffix mat-icon-button aria-label="Clear" (click)="filter=null">
                <mat-icon>&#xE5CD;</mat-icon>
            </button>
        </mat-form-field>
        <div class="tables">
            <div>
                <div class="tables">
                    <table-info *ngFor="let table of filteredTables$ | async;trackBy:trackByTableFn" [table]="table" class="block" [ngClass]="table.status"
                        [isOnOutstandingsStep]="true" [zones]="zonesByKey$ | async"></table-info>
                </div>
                <h3>Done</h3>
                <div class="tables">
                    <table-info *ngFor="let table of filteredOkTables$ | async;trackBy:trackByTableFn" [table]="table" class="block" [ngClass]="table.status"
                        displayMode="minimal" [isOnOutstandingsStep]="true" [zones]="zonesByKey$ | async"></table-info>
                </div>
            </div>
        </div>
    </ng-template>

    <zone [isInserted]="true" (onClose)="displayZoneId = ''" (onZoneChange)="displayZoneId = $event" [zoneId]="displayZoneId"
        *ngIf="displayZoneId"></zone>
</div>
<ng-template #confirmEnd>
    <div class="confirmation">
        <h3>Start with new round?</h3>
        <div mat-dialog-content>
            <div class="warning">Are your sure you want to reset all tables? All current information will be erased.</div>
            <form #confirmEndForm="ngForm">
                <mat-checkbox [(ngModel)]="agreedToRestart" required name="agreed"></mat-checkbox>
                <p>I understand the consequences of my act, and I am aware that this action can be really disruptive for all
                    judges
                </p>
            </form>
        </div>
        <div class="actions" mat-dialog-actions>
            <button mat-raised-button color="warn" (click)="cancelRestart()">Cancel</button>
            <button mat-raised-button color="primary" [disabled]="confirmEndForm.form.invalid" (click)="restart()">Restart</button>
        </div>
    </div>
</ng-template>
<ng-template #extraTimed>
    <div class="extra-timed">
        <h3>Extra time tables</h3>
        <div mat-dialog-content [class.is-team]="isTeam$ | async">
            <ul>
                <li *ngFor="let table of extraTimedTables$ | async">
                    <div class="extra-timed-table text" [ngClass]="table.status" [class.featured]="table.isFeatured">Table {{table.number}}:</div>
                    <display-time [table]="table"></display-time>
                    <button *ngIf="(!table.status || table.status === 'playing') && table.time >= 9" mat-mini-fab color="warn" (click)="askStatus(table)">
                        <mat-icon>&#xEB49;</mat-icon>
                    </button>
                </li>
            </ul>
            <div *ngIf="(extraTimedTables$ | async)?.length === 0">No tables</div>
        </div>
        <div class="actions" mat-dialog-actions>
            <button mat-raised-button color="primary" (click)="closeExtraTimed()">Closed</button>
        </div>
    </div>
</ng-template>
<ng-template #remainingTables>
    <div class="remaining-tables">
        <h3>Remaining tables</h3>
        <div mat-dialog-content>
            <div *ngFor="let zone of remainingTablesByZone$ | async">
                <h3>{{zone.name}}</h3>
                <p>
                    <span *ngFor="let table of zone.tables" class="text" [ngClass]="table.status">{{table.number}}, </span>
                </p>
            </div>
        </div>
        <div class="actions" mat-dialog-actions>
            <button mat-raised-button color="primary" (click)="closeRemainingTables()">Closed</button>
        </div>
    </div>
</ng-template>

<ng-template #sendMessage>
    <div class="remaining-tables">
        <h3>Send message to everybody</h3>
        <div mat-dialog-content>
            <form #form="ngForm">
                <mat-form-field>
                    <input matInput #message>
                </mat-form-field>
            </form>
            {{message.value}}
        </div>
        <div class="actions" mat-dialog-actions>
            <button mat-raised-button color="warn" (click)="closeSendMessage(form)">Cancel</button>
            <button mat-raised-button color="primary" [disabled]="!message.value" (click)="sendMessageToAll(form, message.value)">Send</button>
        </div>
    </div>
</ng-template>