<div class="column1">
    <div class="column2-header">
        <button (click)="openExtraTimed()" mat-raised-button color="warn">Show extra timed</button>
        <button mat-raised-button color="primary" class="menu-button" [matMenuTriggerFor]="actions">Actions</button>
        <mat-menu #actions="matMenu">
            <button (click)="addFeatured()" mat-menu-item>Add featured</button>
            <button (click)="openRemainingTables()" mat-menu-item>See remaining</button>
            <button (click)="addOutstandings()" mat-menu-item>Add outstanding</button>
            <button (click)="endRound()" mat-menu-item>End round</button>
            <button (click)="addTime()" mat-menu-item>Add time</button>
            <button (click)="checkOutstandings()" *ngIf="(isOnOutstandingsStep$ | async)" mat-menu-item>Check several tables</button>
            <button (click)="openSendMessageToAll()" mat-menu-item>Send message to all</button>
        </mat-menu>
    </div>
    <loader [isLoading]="isLoading"></loader>
    <zone-info *ngFor="let zone of zones$ | async;trackBy:trackByFn" class="zone" (onView)="$event.stopPropagation(); goToZone(zone.key)"
        (click)="displayZone(zone.key)" [zone]="zone">
    </zone-info>
</div>
<div class="column2">
    <div class="tables">
        <div *ngIf="(isOnOutstandingsStep$ | async)">
            <div class="tables">
                <table-info *ngFor="let table of tables$ | async;trackBy:trackByTableFn" [table]="table" class="block" [ngClass]="table.status"
                    [isOnOutstandingsStep]="isOnOutstandingsStep$ | async" [zones]="zonesByKey$ | async"></table-info>
            </div>
            <h3>Done</h3>
            <div class="tables">
                <table-info *ngFor="let table of okTables$ | async;trackBy:trackByTableFn" [table]="table" class="block" [ngClass]="table.status"
                    [displayMode]="'minimal'" [isOnOutstandingsStep]="isOnOutstandingsStep$ | async" [zones]="zonesByKey$ | async"></table-info>
            </div>
        </div>
    </div>
    <zone [isInserted]="true" (onClose)="displayZoneId = ''" (onZoneChange)="displayZoneId = $event" [zoneId]="displayZoneId"
        *ngIf="displayZoneId"></zone>
</div>
<ng-template #confirmEnd>
    <div class="confirmation">
        <h3>End round?</h3>
        <div mat-dialog-content>
            <div class="warning">Are your sure you want this? All current informations will be erased</div>
            <form #confirmEndForm="ngForm">
                <mat-checkbox [(ngModel)]="agreedToRestart" required name="agreed"></mat-checkbox>
                <p>I understand the consequences of my act, and I am aware that this action can be really disruptive for all
                    judges
                </p>
            </form>
        </div>
        <div class="actions" mat-dialog-actions>
            <button mat-raised-button color="warn" (click)="cancelRestart()">Cancel</button>
            <button mat-raised-button color="primary" [disabled]="confirmEndForm.form.invalid" (click)="restart()">Restart</button>
        </div>
    </div>
</ng-template>
<ng-template #extraTimed>
    <div class="extra-timed">
        <h3>Extra timed tables</h3>
        <div mat-dialog-content [class.is-team]="isTeam$ | async">
            <ul>
                <li *ngFor="let table of extraTimedTables$ | async">
                    <div class="extra-timed-table text" [ngClass]="table.status" [class.featured]="table.isFeatured">Table {{table.number}}:</div>
                    <display-time [table]="table"></display-time>
                </li>
            </ul>
            <div *ngIf="(extraTimedTables$ | async)?.length === 0">No tables</div>
        </div>
        <div class="actions" mat-dialog-actions>
            <button mat-raised-button color="primary" (click)="closeExtraTimed()">Closed</button>
        </div>
    </div>
</ng-template>
<ng-template #remainingTables>
    <div class="remaining-tables">
        <h3>Remaining tables</h3>
        <div mat-dialog-content>
            <div *ngFor="let zone of remainingTablesByZone$ | async">
                <h3>{{zone.name}}</h3>
                <p>
                    <span *ngFor="let table of zone.tables" class="text" [ngClass]="table.status">{{table.number}}, </span>
                </p>
            </div>
        </div>
        <div class="actions" mat-dialog-actions>
            <button mat-raised-button color="primary" (click)="closeRemainingTables()">Closed</button>
        </div>
    </div>
</ng-template>
<ng-template #sendMessage>
    <div class="remaining-tables">
        <h3>Send message to everybody</h3>
        <div mat-dialog-content>
            <form #form="ngForm">
                <mat-form-field>
                    <input matInput #message>
                </mat-form-field>
            </form>
            {{message.value}}
        </div>
        <div class="actions" mat-dialog-actions>
            <button mat-raised-button color="warn" (click)="closeSendMessage(form)">Cancel</button>
            <button mat-raised-button color="primary" [disabled]="!message.value" (click)="sendMessageToAll(form, message.value)">Send</button>
        </div>
    </div>
</ng-template>