<div class="column1">
    <div class="actions">
        <button class="show-mobile" (click)="openExtraTimed()" mat-raised-button color="primary">Show extra timed</button>
        <button class="show-mobile" (click)="openRemainingTables()" mat-raised-button color="primary">See remaining</button>
    </div>
    <loader [isLoading]="isLoading"></loader>
    <zone-info 
        *ngIf="!isLoading && (zones$ | async)?.length > 1"
        class="zone"
        (onView)="$event.stopPropagation(); goToZone('all')"
        (click)="displayZone('all')">
    </zone-info>
    <zone-info 
        *ngFor="let zone of zones$ | async;trackBy:trackByFn"
        class="zone"
        (onView)="$event.stopPropagation(); goToZone(zone.key)"
        (click)="displayZone(zone.key)"
        [zone]="zone">
    </zone-info>
    <div class="actions">
        <button class="show-mobile" (click)="addFeatured()" mat-raised-button color="primary">Add featured</button>
        <button class="show-mobile" (click)="addOutstandings()" mat-raised-button color="primary">Add outstanding</button>
        <button class="show-mobile" (click)="addTime()" mat-raised-button color="primary">Add time</button>
        <button class="show-mobile" (click)="endRound()" mat-raised-button color="accent">End round</button>
    </div>
</div>
<div class="column2">
    <div class="actions main">
        <button (click)="addFeatured()" mat-raised-button color="primary">Add featured</button>
        <button (click)="openExtraTimed()" mat-raised-button color="primary">Show extra timed</button>
        <button (click)="openRemainingTables()" mat-raised-button color="primary">See remaining</button>
        <button (click)="addOutstandings()" mat-raised-button color="primary">Add outstanding</button>
        <button (click)="endRound()" mat-raised-button color="accent">End round</button>
        <button (click)="addTime()" mat-raised-button color="accent">Add time</button>
    </div>
    <div class="tables">
        <div *ngIf="(isOnOutstandingsStep$ | async)">
            <h3>Outstanding</h3>
            <button (click)="checkOutstandings()" *ngIf="(isOnOutstandingsStep$ | async)" mat-raised-button color="primary">Check several tables</button>
            <tables-info [tables]="tables$ | async"></tables-info>
            <h3>Done</h3>
            <tables-info [tables]="okTables$ | async"></tables-info>
        </div>
    </div>
    <zone class="inserted" (onClose)="displayZoneId = ''" [zoneId]="displayZoneId" *ngIf="displayZoneId"></zone>
</div>
<ng-template #confirmEnd>
    <div class="confirmation">
        <h3>End round?</h3>
        <div mat-dialog-content>
            <div class="warning">Are your sure to end round? All current informations will be erased</div>
            <form #confirmEndForm="ngForm">
                <mat-checkbox [(ngModel)]="agreedToRestart" required name="agreed">I understand the consequences of my act, and I am aware that this action can be really disruptive for all judges</mat-checkbox>
            </form>
        </div>
        <div class="actions" mat-dialog-actions>
            <button mat-raised-button color="warn" (click)="cancelRestart()">Cancel</button>
            <button mat-raised-button color="primary" [disabled]="confirmEndForm.form.invalid" (click)="restart()">Restart</button>
        </div>
    </div>
</ng-template>
<ng-template #extraTimed>
    <div class="extra-timed">
        <h3>Extra timed tables</h3>
        <div mat-dialog-content>
            <ul>
                <li *ngFor="let table of extraTimedTables$ | async">
                    <span class="extra-timed-table text" [ngClass]="table.status">Table {{table.number}}</span>: +{{table.time}}min
                </li>
            </ul>
            <div *ngIf="(extraTimedTables$ | async)?.length === 0">No tables</div>
        </div>
        <div class="actions" mat-dialog-actions>
            <button mat-raised-button color="primary" (click)="closeExtraTimed()">Closed</button>
        </div>
    </div>
</ng-template>
<ng-template #remainingTables>
    <div class="remaining-tables">
        <h3>Remaining tables</h3>
        <div mat-dialog-content>
            <div *ngFor="let zone of remainingTablesByZone$ | async">
                <h3>{{zone.name}}</h3>
                <p><span *ngFor="let table of zone.tables" class="text" [ngClass]="table.status">{{table.number}}, </span></p>
            </div>
        </div>
        <div class="actions" mat-dialog-actions>
            <button mat-raised-button color="primary" (click)="closeRemainingTables()">Closed</button>
        </div>
    </div>
</ng-template>