.column2 {
    padding-left: 330px;
    padding-right: 20px;
    padding-top: 20px;
    .actions {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        background: white;
    }
}

.column1 {
    width: 320px;
    background: #CCCCE5;
    position: fixed;
    top: 60px; bottom: 0; left: 0;
    padding-top: 10px;
    overflow: auto;
}

.tables {
    padding-top: 50px;
}

zone-info {
    margin: 10px;
    &.active {
        cursor: pointer;
    }
    min-width: 220px;
}

.confirmation, .extra-timed {
    .actions {
        display: flex;
        justify-content: flex-end;
        button {
            margin-left: 5px;
        }
    }
}

.extra-timed {
    ul {
        padding-right: 15px;
    }
    .extra-timed-table {
        font-weight: bold;
    }
}