$mobile: 370px;
.column2 {
    padding-left: 330px;
    padding-right: 20px;
    padding-top: 20px;
    @media screen and (max-width: $mobile) {
        display: none;
    }
}

.actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    button, a {
        margin: 10px;
    }
    &.main {
        background: white;
    }
}

.column1 {
    width: 320px;
    @media screen and (max-width: $mobile) {
        width: 100%;
    }
    background: #CCCCE5;
    position: fixed;
    top: 60px; bottom: 0; left: 0;
    padding-top: 10px;
    overflow: auto;
}

.tables {
    padding-top: 10px;
}

zone-info {
    margin: 10px;
    cursor: pointer;
    min-width: 220px;
}

.confirmation, .extra-timed, .remaining-tables {
    .actions {
        display: flex;
        justify-content: flex-end;
        button {
            margin-left: 5px;
        }
    }
}

.extra-timed, .remaining-tables {
    ul {
        padding-right: 15px;
    }
    .extra-timed-table {
        font-weight: bold;
    }
}

.remaining-tables {
    padding: 20px;
}

.show-mobile {
    display: none;
    @media screen and (max-width: $mobile) {
        display: block;
    }
}

zone {
    display: block;
}

.warning {
    color: red;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
}