:host {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.table {
    padding: 10px 20px;
    margin: 10px;
    width: 120px;
    min-height: 70px;
    border-radius: 20px;
    cursor: pointer;
    &.no-status {
        border: 1px solid black;
    }
    &.warn {
        border: 3px solid red;
    }
    &.extra-timed {
        border: 3px solid darkblue;
    }
    .header {
        display: flex;
        align-items: center;
        .title {
            flex: 1;
        }
        md-checkbox {
            margin-left: 10px;
        }
    }
    .content {
        margin-top: 2px;
    }
    .result {
        margin-top: 10px;
        font-weight: bold;
    }
    .assignated, .information {
        margin-top: 5px;
    }
    .information {
        white-space: pre-wrap;
    }
}