:host {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.table {
    padding: 10px 10px;
    margin: 10px;
    min-height: 70px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    &.no-status {
        border: 1px solid black;
    }
    &.warn {
        border: 3px solid red;
    }
    &.extra-timed {
        border: 3px solid darkblue;
    }
    &.featured {
        /deep/ .mat-checkbox-frame {
            border-color: white;
        }
    }
    /deep/ .mat-checkbox-inner-container {
        width: 30px;
        height: 30px;
    }
    .content-wrapper {
        display: flex;
        margin-top: 20px;
    }
    .header {
        display: flex;
        align-items: center;
        padding: 0px 10px;
        .title {
            flex: 1;
            font-weight: bold;
        }
        md-checkbox {
            margin-left: 10px;
        }
    }
    .content {
        display: flex;
        width: 180px;
        flex-direction: column;
        justify-content: center;
        margin-right: 10px;
    }
    .result {
        margin-top: 10px;
        font-weight: bold;
    }
    .assignated, .information {
        margin-top: 5px;
    }
    .information {
        white-space: pre-wrap;
    }
}

.table-actions {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    button:not(:last-child) {
        margin-bottom: 15px;
    }
}