<div *ngFor="let table of tables" 
    class="table block"
    (click)="setHasResult(table.number, !table.hasResult)"
    [ngClass]="[table.status, table.result || table.hasResult ? '' : (table.doneTime | warnAgo)]"
    [class.no-status]="!table.status"
    [class.extra-timed]="
        (table.time > 0 || table.time.A > 0 || table.time.B > 0 || table.time.C > 0)
        && table.status !== 'done'">
    <div class="header">
        <div class="title">Table {{table.number}}</div>
        <mat-checkbox
            (click)="markEvent($event)"
            color="primary"
            [checked]="!!table.hasResult"
            (change)="setHasResult(table.number, $event.checked)"></mat-checkbox>
    </div>
    <div class="content">
        <div class="extra-time" *ngIf="table.time"><display-time [time]="table.time"></display-time></div>
        <div class="time" *ngIf="table.status === 'done' && !table.hasResult">{{table.doneTime | ago}}</div>
        <div class="assignated" *ngIf="table.assignated">Covered by {{table.assignated}}</div>
        <div class="information" *ngIf="table.information">{{table.information}}</div>
        <div class="result" class="result" *ngIf="table.result">
            {{table.result | result}}
        </div>
    </div>
</div>
<div *ngIf="tables?.length === 0">
    No tables
</div>
<ng-template #addInfoTemplate>
    <h3>Add information</h3>
    <div mat-dialog-content>
        <form #form="ngForm">
            <textarea required type="text" [(ngModel)]="information" name="information"></textarea>
        </form>
    </div>
    <div class="actions" mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="confirmAddInfo()" [disabled]="!form.form.valid">Add</button>
    </div>
</ng-template>