<div *ngFor="let table of tables" 
    class="table block"
    [ngClass]="[table.status, table.result || table.hasResult ? '' : (table.doneTime | warnAgo)]"
    [class.no-status]="!table.status">
    <div class="header">
        <div class="title">Table {{table.$key}}</div>
        <md-checkbox 
            color="primary"
            [checked]="!!table.hasResult"
            (change)="setHasResult(table.$key, $event.checked)"></md-checkbox>
    </div>
    <div class="content">
        <div class="time" *ngIf="table.status === 'done' && !table.hasResult">{{table.doneTime | ago}}</div>
        <div class="assignated" *ngIf="table.assignated">Covered by {{table.assignated}}</div>
        <div class="result" class="result" *ngIf="table.result">
            {{table.result | result}}
        </div>
    </div>
</div>
<div *ngIf="tables?.length === 0">
    No tables
</div>