<form #form="ngForm">
  <mat-input-container>
    <input [disabled]="loading" [(ngModel)]="email" name="email" required matInput placeholder="Email" type="email">
  </mat-input-container>
  <div class="info">Please provide an accurate email. It will be use for reset your password if you lost it</div>
  <mat-input-container>
    <input [disabled]="loading" [(ngModel)]="password" required name="password" type="password" placeholder="Password" matInput
      minlength="6">
  </mat-input-container>
  <div class="info">Your password must be at least 6 characters</div>
  <mat-input-container>
    <input [disabled]="loading" [(ngModel)]="pseudo" required name="pseudo" type="text" placeholder="Pseudo" matInput minlength="4"
      maxlength="20">
  </mat-input-container>
  <div class="info">
    Your pseudo has to be between 4 and 20 characters. This will be used for identify your chat message and can be used by an
    admin to give you advanced privileges. Please use a meaningful one (firstname + first letter of lastname for example)
  </div>
  <div class="error">{{errorMessage}}</div>
  <div class="actions">
    <button mat-raised-button color="primary" (click)="createAccount()" [disabled]="form.form.invalid || loading">Créer mon compte</button>
  </div>
</form>