<form #form="ngForm">
  <div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
  <mat-input-container>
    <input type="text" name="email" [(ngModel)]="email" placeholder="Email" matInput>
  </mat-input-container>
  <mat-input-container>
    <input type="password" name="password" [(ngModel)]="password" placeholder="Password" matInput>
  </mat-input-container>
  <div class="actions">
    <button mat-raised-button color="primary" [disabled]="form.form.invalid || loading" (click)="login()">Login</button>
  </div>
</form>