<h3>Profile</h3>
<div mat-dialog-content class="container">
  <div *ngIf="!(user$ | async)" class="content">
    <div>You are not connected.
      <br> Click the button to connect via Judge Apps account
    </div>
    <button mat-raised-button color="primary" [disabled]="isLoading" (click)="login()">Connect me</button>
  </div>
  <div *ngIf="userInfo$ | async as userInfo" class="content">
    <div>
      <p>Welcome to your profile page,
        <br>
        <span>{{userInfo.given_name}}
          <span class="uppercase">{{userInfo.family_name}}</span>
        </span>
      </p>
      <p>
        Here are the information we know about you. If this is not correct, try to logout then relogin or check your judge apps profile
      </p>
      <ul>
        <li>Level: {{userInfo.level}}</li>
        <li>Region: {{userInfo.region}}</li>
        <li>DCI: {{userInfo.dci_number}}</li>
      </ul>
    </div>
    <button mat-raised-button color="primary" [disabled]="isLoading" (click)="logout()" class="center">Logout</button>
  </div>
</div>