<h3>Profile</h3>
<div mat-dialog-content class="container">
  <div *ngIf="!(user$ | async)" class="content">
      Click the button to connect through your Judge Apps account
      <br> This will redirect you to the JudgeApps Login page. If you continue, we will get the following data:
      <ul>
        <li>Your profile: This will be used to identify you on the app</li>
        <li>DCI profile: This will be used to give you special access and action based on you current judge level</li>
        <li>Events: This will be used to give you special access based on which events you are staffed for.</li>
      </ul>
    <button mat-raised-button color="primary" [disabled]="isLoading" (click)="login()">Connect me</button>
  </div>
  <div *ngIf="userInfo$ | async as userInfo" class="content">
    <div>
      <p>Welcome to your profile page,
        <br>{{userInfo.given_name}} {{userInfo.family_name}}
      </p>
      <p>
        This is the information we recieved from JudgeApps about you. If this is not correct, try to logout then relogin or check your judge apps profile
      </p>
      <ul>
        <li>Level: {{userInfo.level}}</li>
        <li>Region: {{userInfo.region}}</li>
        <li>DCI: {{userInfo.dci_number}}</li>
      </ul>
    </div>
    <button mat-raised-button color="primary" [disabled]="isLoading" (click)="logout()" class="center">Logout</button>
  </div>
</div>