:host {
  min-width: 200px;
  display: block;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 300px;
  button {
    margin-top: 20px;
  }
}

.uppercase {
  text-transform: uppercase;
}
