<h3>Define a login</h3>
<div mat-dialog-content>
    <p>You enter a privileged zone. You need to choose a login</p>
    <form #form="ngForm">
        <mat-form-field>
            <input type="text" name="login" [(ngModel)]="login" required matInput placeholder="Choose a login">
        </mat-form-field>
    </form>
</div>
<div class="actions" mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close [mat-dialog-close]="login" [disabled]="!form.form.valid">Set</button>
</div>