<mat-toolbar color="primary" class="header">
    <div class="connection">
        <div class="connection-status" [class.connected]="connectionService.isConnected"></div>
        <mat-icon>&#xE853;</mat-icon>
    </div>
    <div class="header-content">
        <span>{{(title$ | async)}}</span>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="navMenu">
        <mat-icon>&#xE5C3;</mat-icon>
    </button>
</mat-toolbar>
<mat-menu #navMenu="matMenu">
    <a mat-menu-item routerLink="/" *ngIf="!state.isOnHome">
        <mat-icon>&#xE88A;</mat-icon>
        <span>Go to Homepage</span>
    </a>
    <a mat-menu-item [routerLink]="['tournament', state.tournamentKey]" *ngIf="state.isOnTournament && !state.isOnMainPage">
        <mat-icon>&#xE88A;</mat-icon>
        <span>Go to Tournament page</span>
    </a>
    <a mat-menu-item *ngIf="state.isOnTournament && !state.isOnDashboard" [routerLink]="['tournament', state.tournamentKey, 'dashboard']">
        <mat-icon>&#xE897;</mat-icon>
        <span>Go to Team lead page</span>
    </a>
    <a mat-menu-item *ngIf="state.isOnTournament && state.isOnDashboard" [routerLink]="['/administration', 'edit', state.tournamentKey]">
        <mat-icon>&#xE3C9;</mat-icon>
        <span>Edit tournament</span>
    </a>
    <a mat-menu-item *ngIf="state.isOnTournament && !state.isOnCoverage" [routerLink]="['tournament', state.tournamentKey, 'coverage']">
        <mat-icon>&#xE02C;</mat-icon>
        <span>Go to coverage page</span>
    </a>
    <a mat-menu-item *ngIf="state.isOnDashboard || state.isOnCoverage" [routerLink]="['tournament', state.tournamentKey, 'coverage', 'admin']">
        <mat-icon>&#xE02C;</mat-icon>
        <span>Edit coverage page</span>
    </a>
    <a mat-menu-item routerLink="/documentation">
        <mat-icon>&#xE887;</mat-icon>
        <span>See documentation</span>
    </a>
</mat-menu>
<div class="content-with-header">
    <router-outlet></router-outlet>
</div>