@import './styles/_color';

mat-toolbar.header {
  height: 60px;
  display: flex;
  .header-content {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  position: fixed;
  z-index: 10;
  .connection {
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 30px;
    padding: 3px;
    border: 2px solid $light_purple;
    border-radius: 50%;
    mat-icon {
      width: 30px;
      height: 30px;
      font-size: 30px;
    }
  }
  .connection-status {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: red;
    &.connected {
      background: lightgreen;
    }
    position: absolute;
    top: 0;
    right: -3px;
  }
}

.content-with-header {
  padding-top: 70px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
