<md-toolbar color="primary" class="header">
  <button (click)="sidenav.toggle()" md-icon-button><md-icon>&#xE5D2;</md-icon></button>
  <div class="status">
    <span class="text playing">{{(tablesInformation$ | async)?.playing}}</span> /
    <span class="text covered">{{(tablesInformation$ | async)?.covered}}</span> /
    <span class="text extra-time">{{(tablesInformation$ | async)?.extraTimed}}</span>
  </div>
  <button (click)="openHelp()" md-icon-button><md-icon>&#xE8FD;</md-icon></button>
</md-toolbar>
<md-sidenav-container (backdropClick)="sidenav.close()">
  <md-sidenav mode="over" #sidenav class="sidenav">
    <ul>
      <li><a 
        (click)="sidenav.close()"
        [routerLink]="['/']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li><a (click)="sidenav.close()" [routerLink]="['/admin']" routerLinkActive="active">Admin</a></li>
      <li class="separator"></li>
      <li><a
        *ngFor="let zone of zones$ | async"
        (click)="sidenav.close()"
        [routerLink]="['/zone', zone.$key]"
        routerLinkActive="active">{{zone.$key}}</a></li>
    </ul>
  </md-sidenav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>

<ng-template #help>
  <div class="help">
    <ul>
      <li class="text playing">Playing</li>
      <li class="text covered">Covered</li>
      <li class="text done">Empty</li>
      <li class="text featured">Featured</li>
    </ul>
  </div>
</ng-template>
