md-toolbar {
    height: 60px;
    display: flex;
    .title {
        flex: 1;
    }
    position: fixed;
}

.content {
    top: 60px;
    padding-top: 10px;
    padding-bottom: 80px;
    background: none;
    position: absolute;
    bottom: 0; left: 0; right: 0;
}

.sidenav {
    min-width: 200px;
    padding-top: 20px;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li.separator {
        height: 20px;
    }
    li > a {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        text-decoration: none;
        color: black;
        outline: none;
        &:active, &.active{
            color: #673ab7;
            font-weight: bold;
            background: #f3f3f3;
        }
        &:hover {
            background: #f3f3f3;
        }
    }
}

.header {
    display: flex;
    .status {
        flex: 1;
        text-align: center;
    }
}

.playing {
    color: orange;
}
.covered {
    color: #f2da07;
}
.featured {
    color: black;
}
.done {
    color: lightgreen;
}
.extra-time {
    color: lightblue;
}

.help {
    width: 100px;
    ul {
        text-align: center;
        list-style: none;
        padding: 0;
        font-size: 20px;
        li {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}