<mat-toolbar color="primary" class="header">
    <a mat-icon-button routerLink="/"><mat-icon>&#xE317;</mat-icon></a>
    <div class="header-content">Documentation</div>
</mat-toolbar>
<div class="content-with-header">
    <h2>Documentation comming soon</h2>
    <h2>Contact</h2>
    <p>
        This app is developped by me, <strong>Aurélie Violette</strong>, french lvl2 judge.
        <br>
        If you need information on this app, feel free to contact me via JudgeApps, Facebook or Twitter (@purple_orwel)
    </p>
</div>