.message {
    text-align: center;
    font-style: italic;
}

.loader {
    width: 100%;
}

.actions {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.help {
    position: absolute;
    bottom: 10px;
    right: 10px;
}