<div class="container">
    <h3 *ngIf="create">Create tournament</h3>
    <h3 *ngIf="!create">Edit {{previousName}}</h3>
    <div mat-dialog-content>
        <form #createForm="ngForm">
            <div class="message" *ngIf="!create">
                Be aware that by editing, you will probably lost most of the current data, similar to what will be done with an end of round.
            </div>
            <mat-form-field>
                <input name="name" maxlength="17" matInput placeholder="Name" type="string" required [(ngModel)]="data.name">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input name="start" matInput placeholder="Start table number" type="number" required [(ngModel)]="data.start">
            </mat-form-field>
            <mat-form-field>
                <input name="end" matInput placeholder="End table number" type="number" required [(ngModel)]="data.end">
            </mat-form-field>
            <br>
            <mat-form-field *ngIf="create">
                <input name="password" matInput placeholder="Password" type="text" required [(ngModel)]="password">
            </mat-form-field>
            <br>
            <mat-checkbox [(ngModel)]="data.isTeam" name="isTeam">Is a team event?</mat-checkbox>
            <br><br>
            <label>Information</label>
            <textarea class="full" type="text" [(ngModel)]="data.information" name="information"></textarea>
            <div class="zones">
                <h4>Zones</h4>
                <div class="zone" *ngFor="let zone of zones; let i = index;">
                    <div class="zone-actions">
                        <button type="button" mat-button color="primary" (click)="deleteZone(i)" [disabled]="zones.length === 1"><mat-icon>&#xE872;</mat-icon></button>
                    </div>
                    <mat-form-field>
                        <input name="zone-name-{{i}}" matInput placeholder="Name" type="string" required [(ngModel)]="zone.name">
                    </mat-form-field>
                    <mat-form-field>
                        <input name="zone-leader-{{i}}" matInput placeholder="LeaderName" type="string" [(ngModel)]="zone.leader">
                    </mat-form-field>
                    <mat-form-field>
                        <input name="zone-leader-place-{{i}}" matInput placeholder="Zone leader place" type="string" [(ngModel)]="zone.zoneLeaderPlace">
                    </mat-form-field>
                    <h5>Sections</h5>
                    <div class="sections">
                        <div *ngFor="let section of zone.tables; let j = index" class="section">
                            <mat-form-field>
                                <input name="zone-{{i}}-start-{{j}}" matInput placeholder="Start table number" type="number" required [(ngModel)]="section.start">
                            </mat-form-field>
                            <mat-form-field>
                                <input name="zone-{{i}}-end-{{j}}" matInput placeholder="End table number" type="number" required [(ngModel)]="section.end">
                            </mat-form-field>
                            <button type="button" mat-button color="primary" (click)="deleteSection(i, j)" [disabled]="zone.tables.length === 1"><mat-icon>&#xE872;</mat-icon></button>
                        </div>
                        <div class="section-actions">
                            <button type="button" mat-button color="primary" (click)="addSection(i)">Add section</button>
                        </div>
                    </div>
                    <br/>
                </div>
                <button type="button" mat-raised-button color="primary" (click)="addZone()">Add Zone</button>
            </div>
        </form>
    </div>
    <div class="actions">
        <button mat-raised-button *ngIf="!create" color="warn" (click)="delete()"><mat-icon>&#xE872;</mat-icon></button>
        <button mat-raised-button color="accent" (click)="cancel()">Cancel</button>
        <button mat-raised-button color="primary" (click)="addOrEdit()" [disabled]="!createForm.form.valid">
            <span *ngIf="create">Create</span>
            <span *ngIf="!create">Edit</span>
        </button>
    </div>
</div>

<ng-template #confirm>
    <div class="confirmation">
        <h3>Are you sure</h3>
        <div mat-dialog-content>
            All data of will be lost.
        </div>
        <div class="actions" mat-dialog-actions>
            <button mat-raised-button color="warn" (click)="cancelDelete()">Cancel</button>
            <button mat-raised-button color="primary" (click)="confirmDelete()">Delete</button>
        </div>
    </div>
</ng-template>