<mat-icon [class.new]="hasNewMessage" (click)="seeMessage($event)">&#xE0C9;</mat-icon>

<ng-template class="message-modal" #message>
    <h3>{{zone ? zone.name : 'All zones' }}</h3>
    <div class="body">
        <input class="null">
        <form class="sending">
            <input type="text" name="message" [(ngModel)]="newMessage">
            <button type="submit" mat-mini-fab color="primary" (click)="addMessage()"><mat-icon>&#xE163;</mat-icon></button>
        </form>
        <div class="messages-container">
            <div class="messages">
                <div class="message" *ngFor="let message of messages$ | async">
                    <span class="login">{{message.login}}:</span>
                    <span class="text">{{message.message}}</span> 
                </div>
            </div>
        </div>
    </div>
</ng-template>