@import '~../../styles/_color.scss';

:host {
    cursor: pointer;
    &.new {
        color: red;
    }
}

.body {
    .sending {
        display: flex;
        input {
            width: 150px;
        }
        button {
            margin-left: 10px;
        }
        margin-bottom: 20px;
    }
    input:not(.null) {
        border: 1px solid black;
    }
}

.messages-container {
    max-height: 300px;
    overflow: auto;
}
.messages {
    display: flex;
    flex-direction: column;
}

.message {
    display: flex;
    .login {
        font-weight: bold;
        color: $dark_purple;
    }
    .text {
        flex: 1;
        padding-left: 5px;
    }
}