<div class="column">
    <loader [isLoading]="isLoading"></loader>
    <mat-input-container>
        <input #filterInput (change)="onFilterChange($event.srcElement.value)" matInput placeholder="Search for a player and press enter">
        <button mat-button *ngIf="filterInput.value" matSuffix mat-icon-button aria-label="Clear" (click)="filterInput.value='';onFilterChange('')">
            <mat-icon>&#xE5CD;</mat-icon>
        </button>
    </mat-input-container>
    <div class="tables">
        <div class="table block" [ngClass]="table.status" [class.featured]="table.isFeatured" *ngFor="let table of tables$ | async; trackByFn">
            <div class="number">Table {{table.number}}</div>
            <ng-template [ngIf]="table.coverage">
                <div class="player" [ngClass]="{ win: table.result && table.result.player1.score > table.result.player2.score}">
                    <div>
                        {{table.coverage.player1}} ({{table.coverage.player1Score}})
                    </div>
                </div>
                <div class="separator">vs</div>
                <div class="player" [ngClass]="{ win: table.result && table.result.player1.score < table.result.player2.score}">
                    {{table.coverage.player2}} ({{table.coverage.player2Score}})
                </div>
            </ng-template>
            <div class="result">
                <span *ngIf="table.result">{{table.result | result}}</span>
                <span *ngIf="table.hasResult && !table.result">Judge station for result</span>
                <span *ngIf="!table.hasResult && !table.result">Waiting result</span>
            </div>
            <div class="actions">
                <button mat-raised-button color="primary" (click)="addResult(table)">Result</button>
            </div>
        </div>
    </div>
</div>
<div class="column">
    <button mat-raised-button color="primary" (click)="openImport()">Import tables</button>
    <button mat-raised-button color="primary" (click)="openResults()">Import results</button>
</div>

<ng-template #noData>
    <div>No data</div>
</ng-template>
<ng-template #import>
    <h3>Import coverage tables from Walter</h3>
    <div>
        <form #importForm="ngForm">
            <textarea required type="text" [(ngModel)]="importTables" name="importTables"></textarea>
        </form>
    </div>
    <div class="import-actions">
        <button mat-raised-button color="primary" (click)="doImport()" [disabled]="!importForm.form.valid">Import</button>
    </div>
</ng-template>

<ng-template #result>
    <h3>Import results from Walter</h3>
    <div>
        <p>Choose the number of tables below wich outstandings phase will start</p>
        <mat-input-container>
            <input matInput [(ngModel)]="outstandingsTrigger" type="number">
        </mat-input-container>
        <form #resultForm="ngForm">
            <textarea required type="text" [(ngModel)]="results" name="results"></textarea>
        </form>
    </div>
    <div class="import-actions">
        <button mat-raised-button color="primary" (click)="importResults()" [disabled]="!resultForm.form.valid">Import</button>
    </div>
</ng-template>