.actions {
  margin-top: 20px;
  margin-bottom: 20px;
  button:not(:first-child) {
    margin-left: 10px;
  }
}

.tables {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;

  table-info {
    margin: 5px;
  }
}

.import-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}
textarea {
  width: 100%;
  min-height: 200px;
}
