<div class="actions">
  <button mat-raised-button color="primary" (click)="openImport()">Import tables</button>
  <button (click)="setFeatured()" mat-raised-button color="primary">Set featured</button>
  <button mat-raised-button color="primary" (click)="openResults()">Import results</button>
  <button (click)="addOutstandings()" mat-raised-button color="primary">Add outstanding tables manually</button>
  <button mat-raised-button color="primary" (click)="openImportSeatAll()">Import seat all</button>
  <button (click)="openResetMissing()" mat-raised-button color="primary">Reset missing players report</button>
</div>
<div>
  <div *ngIf="(isOnOutstandingsStep$ | async)">
    <div class="tables">
      <table-info *ngFor="let table of tables$ | async;trackBy:trackByTableFn" [table]="table" class="block" [ngClass]="table.status"
        displayMode="minimal" [isOnOutstandingsStep]="isOnOutstandingsStep$ | async" [zones]="zonesByKey$ | async"></table-info>
    </div>
    <h3>Done</h3>
    <div class="tables">
      <table-info *ngFor="let table of okTables$ | async;trackBy:trackByTableFn" [table]="table" class="block" [ngClass]="table.status"
        displayMode="minimal" [isOnOutstandingsStep]="isOnOutstandingsStep$ | async" [zones]="zonesByKey$ | async"></table-info>
    </div>
  </div>
</div>

<ng-template #import>
  <h3>Import coverage tables from Walter</h3>
  <div>
    <form #importForm="ngForm">
      <textarea required type="text" [(ngModel)]="importTables" name="importTables"></textarea>
    </form>
  </div>
  <div class="import-actions">
    <button mat-raised-button color="primary" (click)="doImport()" [disabled]="!importForm.form.valid">Import</button>
  </div>
</ng-template>

<ng-template #seatAll>
  <h3>Import seat all from Walter</h3>
  <div>
    <form #importSeatAllForm="ngForm">
      <textarea required type="text" [(ngModel)]="importSeatAll" name="importSeatAll"></textarea>
    </form>
  </div>
  <div class="import-actions">
    <button mat-raised-button color="primary" (click)="doImportSeatAll()" [disabled]="!importSeatAllForm.form.valid">Import</button>
  </div>
</ng-template>

<ng-template #result>
  <h3>Import results from Walter</h3>
  <div>
    <p>Choose the number of tables below where outstandings phase will start</p>
    <mat-input-container>
      <input matInput [(ngModel)]="outstandingsTrigger" type="number">
    </mat-input-container>
    <form #resultForm="ngForm">
      <textarea cdk-focus-region-start required type="text" [(ngModel)]="results" name="results"></textarea>
    </form>
  </div>
  <div class="import-actions">
    <button mat-raised-button color="primary" (click)="importResults()" [disabled]="!resultForm.form.valid">Import</button>
  </div>
</ng-template>

<ng-template #confirm>
  <h3>Reset missing players report</h3>
  <p>Are you sure you want to delete information about missing players?</p>
  <div class="import-actions">
    <button mat-raised-button color="primary" (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="resetMissing()">Reset</button>
  </div>
</ng-template>