$mobile: 370px;
.import-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}
textarea {
    width: 100%;
    min-height: 200px;
}

.table {
    display: flex;
    align-items: center;
    padding: 10px;
    @media screen and (max-width: $mobile) {
        padding: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    @media screen and (max-width: $mobile) {
        justify-content: space-around;
    }
    border-bottom: 1px solid black;
    .number {
        font-weight: bold;
        margin-right: 10px;
    }
    .player {
        &.win {
            font-weight: bold;
            font-size: larger;
        }
        @media screen and (max-width: $mobile) {
            margin-left: 2px;
            margin-right: 2px;
        }
    }
    .separator {
        margin-left: 10px;
        margin-right: 10px;
        @media screen and (max-width: $mobile) {
            display: none;
        }
    }
    .result {
        margin-left: 10px;
        @media screen and (max-width: $mobile) {
            margin-left: 2px;
        }
    }
    .actions {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        .display-small {
            display: none;
        }
        @media screen and (max-width: $mobile) {
            .display-small {
                display: block;
            }
            .display-large {
                display: none;
            }
            margin-left: 5px;
        }
    }
}