.table {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid black;
    .number {
        font-weight: bold;
        margin-right: 10px;
    }
    .player {
        &.win {
            font-weight: bold;
            font-size: larger;
        }
    }
    .separator {
        margin-left: 10px;
        margin-right: 10px;
    }
    .result {
        margin-left: 10px;
    }
}