/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './app/styles/status.scss';
@import './app/styles/dialog.scss';
@import './app/styles/loader.scss';
@import './app/styles/snackbarr.scss';

body {
  margin: 0;
  padding: 0;
}

html,
body,
material-app,
md-sidenav-container {
  margin: 0;
  width: 100%;
  height: 100%;
}
// hack for fixed button inside content
.mat-sidenav-content {
  transform: none !important;
}
