form {
  display: flex;
  flex-direction: column;
}
textarea {
  min-height: 100px;
  margin-top: 10px;
}

.judges {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;

  button {
    margin-top: 5px;
    margin-right: 5px;
  }
}

mat-input-container {
  margin-top: 20px;
}
