<button (click)="onClose.emit({})"mat-icon-button class="close-button"><mat-icon>&#xE5CD;</mat-icon></button>
<div class="header">
    <div class="first-line">
        <div [matMenuTriggerFor]="otherZones" class="title">
            <span class="name">{{(zone$ | async)?.name}}</span>
            <mat-icon>&#xE313;</mat-icon>
        </div>
        <mat-menu #otherZones="matMenu">
            <button mat-menu-item *ngFor="let zone of otherZones$ | async" (click)="goToZone(zone.key)">
                <span [class.need-help]="zone.needHelp">Go to {{zone.name}}</span>
                <span *ngIf="zone.zoneLeaderPlace">(ZL at {{zone.zoneLeaderPlace}})</span>
            </button>
        </mat-menu>
        <div class="actions">
            <zone-message [zone]="(zone$ | async)"></zone-message>
            <button mat-icon-button 
                class="menu-button"
                [matMenuTriggerFor]="params"
            ><mat-icon>&#xE5D4;</mat-icon></button>
        </div>
    </div>
    <mat-menu #params="matMenu">
        <button mat-menu-item (click)="addTime()">
            <mat-icon>&#xE856;</mat-icon>
            <span>Add time</span>
        </button>
        <button mat-menu-item (click)="assign()">
            <mat-icon>&#xE851;</mat-icon>
            <span>Assign judge</span>
        </button>
        <button mat-menu-item (click)="addResult()">
                <mat-icon>&#xE862;</mat-icon>
                <span>Add result</span>
        </button>
        <button mat-menu-item (click)="allGreen()" *ngIf="!(isOnOutstandingsStep$ | async)">
            <mat-icon>&#xE877;</mat-icon>
            <span>Mark all empty as done</span>
        </button>
        <button mat-menu-item (click)="seeHelp()">
            <mat-icon>&#xE887;</mat-icon>
            <span>Display help</span>
        </button>
    </mat-menu>
    <div class="filters" *ngIf="!(isOnOutstandingsStep$ | async)">
        <mat-slide-toggle
            color="primary"
            [checked]="(filter$ | async).onlyPlaying"
            (change)="toggleOnlyPlaying($event.checked)"><span>Display only playing</span>
        </mat-slide-toggle>
        <mat-slide-toggle
            color="primary"
            [checked]="(filter$ | async).onlyExtraTime"
            (change)="toggleOnlyExtraTime($event.checked)"><span>Display only extra time</span>
        </mat-slide-toggle>
    </div>
</div>
<div class="tables" 
    [class.hide-button]="!(isOnOutstandingsStep$ | async)"
    [class.show-warn]="(isOnOutstandingsStep$ | async)"
    [class.high-padding]="!(isOnOutstandingsStep$ | async)"
    [class.is-team]="isTeam$ | async">
    <loader [isLoading]="isLoading"></loader>
    <div class="table block" 
        *ngFor="let table of tables$ | async; trackBy: trackByFn"
        [ngClass]="[table.status, table.result ? '' : table.doneTime | warnAgo]"
        [class.featured]="(zoneId !== 'feature' && table.isFeatured)"
        [class.has-time]="table.time"
        (click)="onTableClick(table)">
        <div class="number">{{table.number}}</div>
        <div class="time" *ngIf="table.time"><display-time [time]="table.time"></display-time></div>
        <div class="result">{{table.result | result }}</div>
        <div class="assignated" *ngIf="table.assignated">{{table.assignated}}</div>
        <div class="actions">
            <button mat-mini-fab color="primary" (click)="assign($event, table)">
                <mat-icon>&#xE851;</mat-icon>
            </button>
            <button mat-mini-fab color="primary" (click)="addResult($event, table)">
                    <mat-icon>&#xE862;</mat-icon>
            </button>
        </div>
    </div>
</div>
<div class="message" *ngIf="(tables$ | async)?.length === 0">
    No tables.
    <span *ngIf="isOnOutstandingsStep$ | async"><br/>your team leader have all result</span>
    <span *ngIf="!(isOnOutstandingsStep$ | async)"><br/>If this is not normal, check your filters</span>
</div>

<button 
    *ngIf="zoneId && !(zone$ | async)?.needHelp"
    mat-fab
    color="primary"
    class="call-help"
    [class.other-need-help]="otherNeedHelp$ | async"
    (click)="callHelp(true)"><mat-icon>&#xE91F;</mat-icon></button>
<button 
    *ngIf="zoneId && (zone$ | async)?.needHelp"
    mat-fab
    color="warn"
    class="call-help"
    (click)="callHelp(false)"><mat-icon>&#xE14C;</mat-icon></button>

<ng-template #confirm>
    <div class="confirmation">
        <h3>Are you sure</h3>
        <div mat-dialog-content>
            All current empty tables (white) will become done (green). Filters will NOT be taken in account.
        </div>
        <div class="actions" mat-dialog-actions>
            <button mat-raised-button color="warn" (click)="cancelAllGreen()">Cancel</button>
            <button mat-raised-button color="primary" (click)="confirmAllGreen()">Go</button>
        </div>
    </div>
</ng-template>

<ng-template #help>
    <div class="help">
        <h3>Reminder</h3>
        <div mat-dialog-content>
            <div class="text playing">Playing</div>
            <div class="text covered">Covered</div>
            <div class="text done">Done (no body at the table)</div>
            <div class="text featured">Featured</div>
        </div>
    </div>
</ng-template>