@import '~../../styles/_color.scss';

:host {
    display: block;
    padding-bottom: 100px;
}

.header {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 60px;
    background: $light_purple;

    .first-line {
        display: flex;
        align-items: center;
        margin-bottom: 4px;
        margin-top: 4px;
    }

    .actions {
        display: flex;
        align-items: center;
        margin-left: 5px;
        button:not(:last-child), zone-message {
            margin-right: 15px;
        }
        zone-message {
            display: block;
            margin-bottom: -9px;
        }
    }
}

.message {
    padding: 10px;
    margin-top: 20px;
}
.title {
    flex: 1;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}

.tables {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
    padding-top: 70px;
    &.high-padding {
        padding-top: 100px;
    }
    &.hide-button {
        .table .actions {
            display: none;
        }
    }
    &.show-warn {
        .table.done.warn {
            border: 1px solid red;
            color: red;
            font-weight: bold;
        }
    }
}
.table {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: pointer;

    font-size: 16px;
    
    min-height: 40px;
    min-width: 45px;
    
    border: 1px solid black;
    padding: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .time {
        font-style: italic;
    }
    &.has-time {
        font-weight: bold;
    }
    .actions {
        margin-top: 20px;
    }
}

.call-help {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.confirmation, .assign-judges {
    .actions {
        display: flex;
        justify-content: flex-end;
        button {
            margin-left: 5px;
        }
    }
}

.assign-judges {
    form {
        display: flex;
        flex-direction: column;
    }
    textarea {
        min-height: 100px;
        margin-top: 10px;
    }

}