:host {
    display: block;
    padding-bottom: 100px;
}

.header {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;

    .actions {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-left: 5px;
        &.active {
            color: red;
        }
        zone-message {
            margin-right: 10px;
        }
    }
}

.message {
    padding: 10px;
    margin-top: 20px;
}
.title {
    flex: 1;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}

.tables {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
    &.hide-button {
        .table .actions {
            display: none;
        }
    }
    &.show-warn {
        .table.done.warn {
            border: 1px solid red;
            color: red;
            font-weight: bold;
        }
    }
}
.table {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    
    min-height: 50px;
    min-width: 50px;
    
    border: 1px solid black;
    padding: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .time {
        font-style: italic;
    }
    &.has-time {
        font-weight: bold;
        font-size: 18px;
    }
    .actions {
        margin-top: 20px;
    }
}

.call-help {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.confirmation {
    .actions {
        display: flex;
        justify-content: flex-end;
        button {
            margin-left: 5px;
        }
    }
}