<button (click)="onClose.emit({})" mat-icon-button class="close-button">
    <mat-icon>&#xE5CD;</mat-icon>
</button>
<div class="header">
    <div class="first-line">
        <div [matMenuTriggerFor]="otherZones" class="title">
            <span class="name">{{(zone$ | async)?.name}}</span>
            <mat-icon>&#xE313;</mat-icon>
        </div>
        <mat-menu #otherZones="matMenu">
            <button mat-menu-item *ngFor="let zone of otherZones$ | async" (click)="goToZone(zone.key)">
                <span>Go to {{zone.name}}</span>
                <span *ngIf="zone.zoneLeaderPlace">(ZL at {{zone.zoneLeaderPlace}})</span>
            </button>
        </mat-menu>
        <div class="actions">
            <zone-message [zone]="(zone$ | async)"></zone-message>
            <button mat-icon-button class="menu-button" [matMenuTriggerFor]="params">
                <mat-icon>&#xE5D4;</mat-icon>
            </button>
        </div>
    </div>
    <mat-menu #params="matMenu">
        <button mat-menu-item (click)="addTime()">
            <mat-icon>&#xE856;</mat-icon>
            <span>Add time</span>
        </button>
        <button mat-menu-item (click)="openRemainingTables()">
            <mat-icon>&#xE417;</mat-icon>
            <span>Overview of the zone</span>
        </button>
        <button mat-menu-item (click)="assign()">
            <mat-icon>&#xE851;</mat-icon>
            <span>Assign judge</span>
        </button>
        <button mat-menu-item (click)="addResult()">
            <mat-icon>&#xE862;</mat-icon>
            <span>Add result</span>
        </button>
        <button mat-menu-item (click)="markAsDone()">
            <mat-icon>&#xE876;</mat-icon>
            <span>Mark several tables as done</span>
        </button>
        <button mat-menu-item (click)="allGreen()" *ngIf="!(isOnOutstandingsStep$ | async)">
            <mat-icon>&#xE877;</mat-icon>
            <span>Mark all empty as done</span>
        </button>
        <button mat-menu-item (click)="seeHelp()">
            <mat-icon>&#xE887;</mat-icon>
            <span>Display help</span>
        </button>
    </mat-menu>
    <div class="filters" *ngIf="!(isOnOutstandingsStep$ | async)">
        <mat-slide-toggle color="primary" [checked]="(filter$ | async).onlyPlaying" (change)="toggleOnlyPlaying($event.checked)">
            <span>Display only playing</span>
        </mat-slide-toggle>
        <mat-slide-toggle color="primary" [checked]="(filter$ | async).onlyExtraTime" (change)="toggleOnlyExtraTime($event.checked)">
            <span>Display only extra time</span>
        </mat-slide-toggle>
    </div>
</div>
<div class="outstandingLoader" *ngIf="isLoadingOutstanding">
    <div class="loader"></div>
    <div class="loader-text">Going to outstanding step ...</div>
</div>
<div class="tables">
    <loader [isLoading]="isLoading"></loader>
    <ng-template ngFor let-table [ngForOf]="tables$ | async" [ngForTrackBy]="trackByFn">
        <div class="separator" *ngIf="table.isSectionStart"></div>
        <zone-table class="block" [ngClass]="table.status" [canInteractWithFeaturedTables]="zoneId === 'feature' || zoneId === 'all'"
            [table]="table" [isOnOutstandingsStep]="(isOnOutstandingsStep$ | async)" [isTeam]="isTeam$ | async">
        </zone-table>
    </ng-template>
</div>
<div class="message" *ngIf="(tables$ | async)?.length === 0">
    No tables.
    <span *ngIf="isOnOutstandingsStep$ | async">
        <br/>your team leader has all result</span>
    <span *ngIf="!(isOnOutstandingsStep$ | async)">
        <br/>If this is not normal, check your filters</span>
</div>

<ng-container *ngIf="zoneId !== 'all'">
    <button *ngIf="!(zone$ | async)?.needHelp" mat-fab color="primary" class="call-help" [class.other-need-help]="isAnOtherNeedHelp$ | async"
        (click)="callHelp(true)">
        <mat-icon>&#xE91F;</mat-icon>
    </button>
    <button *ngIf="(needHelp$ | async)" mat-fab color="warn" class="call-help" (click)="callHelp(false)">
        <mat-icon>&#xE14C;</mat-icon>
    </button>
</ng-container>

<ng-template #confirm>
    <div class="confirmation">
        <h3>Are you sure</h3>
        <div mat-dialog-content>
            All current empty tables (white) will become done (green). Filters will NOT be taken in account.
        </div>
        <div class="actions" mat-dialog-actions>
            <button mat-raised-button color="warn" (click)="cancelAllGreen()">Cancel</button>
            <button mat-raised-button color="primary" (click)="confirmAllGreen()">Go</button>
        </div>
    </div>
</ng-template>

<ng-template #help>
    <div class="help">
        <h3>Reminder</h3>
        <div mat-dialog-content>
            <div class="text playing">Playing</div>
            <div class="text covered">Covered</div>
            <div class="text done">Done (nobody at the table)</div>
            <div class="text featured">Featured</div>
        </div>
    </div>
</ng-template>

<ng-template #remainingTables>
    <div class="remaining-tables">
        <h3>Overview of {{(zone$ | async)?.name}}</h3>
        <div mat-dialog-content>
            <div>
                <p>
                    <span *ngFor="let table of tables$ | async" class="text" [ngClass]="table.status">{{table.number}}, </span>
                </p>
            </div>
        </div>
        <div class="actions" mat-dialog-actions>
            <button mat-raised-button color="primary" (click)="closeRemainingTables()">Closed</button>
        </div>
    </div>
</ng-template>