<div class="header">
    <div class="title">{{(zone$ | async)?.name}}</div>
    <div class="actions">
        <button md-icon-button (click)="assign()">
            <md-icon>&#xE851;</md-icon>
        </button>
        <zone-message [zone]="zone$ | async"></zone-message>
        <button md-icon-button 
            class="menu-button"
            [class.active]="(filter$ | async).onlyPlaying || (filter$ | async).onlyExtraTime"
            [mdMenuTriggerFor]="params"
            *ngIf="!(isOnOutstandingsStep$ | async)">
            <md-icon>&#xE8B8;</md-icon>
        </button>
    </div>
    <md-menu #params="mdMenu">
        <div md-menu-item>
            <md-slide-toggle
            color="primary"
            [checked]="(filter$ | async).onlyPlaying"
            (change)="toggleOnlyPlaying($event.checked)">
            <span>Display only playing</span>
            </md-slide-toggle>
        </div>
        <div md-menu-item>
            <md-slide-toggle
            color="primary"
            [checked]="(filter$ | async).onlyExtraTime"
            (change)="toggleOnlyExtraTime($event.checked)">
            <span>Display only extra time</span>
            </md-slide-toggle>
        </div>
        <button md-menu-item (click)="allGreen()">Mark all empty as done</button>
    </md-menu>
</div>
<div class="tables" [class.hide-button]="(tables$ | async)?.length > 10" [class.show-warn]="(isOnOutstandingsStep$ | async)">
    <loader [isLoading]="isLoading"></loader>
    <div class="table block" *ngFor="let table of tables$ | async" [ngClass]="[table.status, table.result ? '' : table.doneTime | warnAgo]" [class.has-time]="table.time" (click)="onTableClick(table)">
        <div class="number">{{table.$key}}</div>
        <div class="time" *ngIf="table.time">{{table.time}}min</div>
        <div class="result">{{table.result | result }}</div>
        <div class="assignated" *ngIf="table.assignated">{{table.assignated}}</div>
        <div class="actions">
            <button md-raised-button color="primary" (click)="addResult($event, table)">Add result</button>
        </div>
    </div>
</div>
<div class="message" *ngIf="(tables$ | async)?.length === 0">
    No tables.
    <span *ngIf="isOnOutstandingsStep$ | async"><br/>your team leader have all result</span>
    <span *ngIf="!(isOnOutstandingsStep$ | async)"><br/>If this is not normal, check your filters (<md-icon>&#xE8B8;</md-icon>).</span>
</div>

<button *ngIf="!(zone$ | async)?.needHelp" md-fab color="primary" class="call-help" (click)="callHelp(true)"><md-icon>&#xE91F;</md-icon></button>
<button *ngIf="(zone$ | async)?.needHelp" md-fab color="warn" class="call-help" (click)="callHelp(false)"><md-icon>&#xE14C;</md-icon></button>

<ng-template #confirm>
    <div class="confirmation">
        <h3>Are you sure</h3>
        <div md-dialog-content>
            All current empty tables (white) will become done (green). Filters will NOT be taken in account.
        </div>
        <div class="actions" md-dialog-actions>
            <button md-raised-button color="warn" (click)="cancelAllGreen()">Cancel</button>
            <button md-raised-button color="primary" (click)="confirmAllGreen()">Go</button>
        </div>
    </div>
</ng-template>

<ng-template #assignJudges>
    <div class="assign-judges">
        <h3>Assign judge</h3>
        <div md-dialog-content>
            <form #assignJudgesForm="ngForm">
                <md-input-container>
                    <input maxLength="4" name="judge" mdInput placeholder="Judge" type="text" required [(ngModel)]="assignData.judge">
                </md-input-container>
                <textarea required type="text" [(ngModel)]="assignData.tables" name="tables"></textarea>
            </form>
        </div>
        <div class="actions" md-dialog-actions>
            <button md-raised-button color="warn" (click)="cancelAssignJudges()">Close</button>
            <button md-raised-button color="primary" [disabled]="!assignJudgesForm.form.valid" (click)="confirmAssignJudges()">Assign</button>
        </div>
    </div>
</ng-template>